.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34; /* Choose a banner background color */
  color: white;
  padding: 10px 20px; /* Add some padding */
  display: flex; /* Use flexbox to adjust title position */
  align-items: center; /* Vertically align content */
  justify-content: flex-start; /* Align content to the left */
  width: 100%; /* Make sure it spans the full width of the page */
}

.App-body {
  padding: 16px;
}

h1 {
  margin: 0; /* Eliminate default margin of h1 to align it to the very top and left */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
}

/* Styles for pitch columns */
.pitches-container {
  display: flex; /* Enable Flexbox layout */
  justify-content: space-between; /* Space out columns evenly */
  margin-top: 20px; /* Provide some space above the pitches */
}

.pitch-column {
  width: 25%; /* Set each column to be 25% of the parent width */
  padding: 0 10px; /* Add some padding on the sides */
  box-sizing: border-box; /* Include padding in the width calculation */
}